* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #762124;
}

.logo > img {
    height: 120px;
    width: auto;
}

nav {
    width: 550px;
    /* background-color: aqua; */
}

nav > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    height: 120px;
}

nav > ul > li > a {
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

nav > ul > li:last-of-type {
    margin-right: 55px;
}

.dropdown-content {
    position: absolute;
    width: 120px;
    background-color: lightblue;
    list-style: none;
}

.home-img {
    overflow: hidden;
    height: calc(97vh - 120px);
    background-image: url('../../img/tep-aueb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-title {
    width: 55%;
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.mt-2 {
    margin-top: 20px;
}

.mb-2 {
    margin-bottom: 20px;
}

footer {
    display: flex;
    height: 150px;
    background-color: #762124;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 10px;
}