*, ::after, ::before {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    padding: 0;
    /* margin: 0; */
}

.row {
    margin-bottom: 10px;
}

label {
    margin-left: 10px;
    display: inline-block;
    width: 80px;
}

.input-item {
    width: 200px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 5px;
}

.input-item:focus {
    outline: none;
}

[type='submit'] {
    margin-left: 70px;
    margin-top: 10px;
    padding: 10px 75px;
    border-radius: 5px;
    color:white;
    background-color: maroon;
}

[type='submit']:hover {
    background-color: white;
    color: maroon;
}

h1::after {
    content: '\2764\FE0F';
    margin-left: 20px;
}